<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            {% if color %}
                background-color: {{color}};
            {% endif %}

            {% if red %}
                background-color: rgb({{red}}, {{green}}, {{blue}});
            {% endif %}

            
            height:  100vh;
        }
    </style>
</head>
<body>
    
</body>
</html>