<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Here we should have the form </h1>
    <h2> Type your color </h2>
    <form action="answer" method="get">
        <input type="text" name="color" id="" placeholder="Insert something">
        <input type="submit" value="Send">
    </form>

     <h2> Type the red, green, blue </h2>
     <form action="answer" method="get">
         <input type="number" name="red" id="" min=0 max=255 placeholder="red">
         <input type="number" name="green" id="" min=0 max=255 placeholder="green">
         <input type="number" name="blue" id="" min=0 max=255 placeholder="blue">

         <input type="submit" value="Send">
     </form>
</body>
</html>