{% extends "shop/base.html" %}
{% load static  %}


{% block main %}
    <h2> This is in my {{product.title}} </h2>
    <p> {{product.price}}</p>
    <p>{{product.description}}</p>
    
    {% if product.image %}
        <img src="{{product.image.url}}" alt="">
    {% else %}
     
        <img src="{% static 'placeholder.png' %}" 
        height="300" alt="">

    {% endif %}
    
    
    <form action="{% url 'add_to_cart_url' product.id %}" method="post">

        {% csrf_token %}

        {{product_to_cart_form}}

        <input type="submit" value="Add to cart">

    </form>            
            
{% endblock main %}